<div class="form-container">
    <form [formGroup]="sprintForm" (ngSubmit)="onSubmit()">
      <div class="outer-form-container">
        
        <div class="inner-form-container">
          <mat-form-field appearance="outline">
            <mat-label>Project ID</mat-label>
            <input matInput formControlName="projectId" placeholder="Project ID">
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Sprint Number</mat-label>
            <input matInput formControlName="sprintNumber" placeholder="Sprint Number">
          </mat-form-field>
        </div>
         
        <div class="inner-form-container">
          <!-- <mat-form-field appearance="outline">
            <mat-label>Start Date</mat-label>
            <input matInput formControlName="startDate" placeholder="Start Date">




          </mat-form-field> -->
          <mat-form-field appearance="outline">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" placeholder="Start Date">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error *ngIf="sprintForm.get('startDate')?.invalid">Start Date is required.</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" placeholder="End Date">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
            <mat-error *ngIf="sprintForm.get('endDate')?.invalid">End Date is required.</mat-error>
          </mat-form-field>
          
          <!-- <mat-form-field appearance="outline">
            <mat-label>End Date</mat-label>
            <input matInput formControlName="endDate" placeholder="End Date">
          </mat-form-field> -->
        </div>
  
        <div class="inner-form-container">
          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <!-- <input matInput formControlName="status" placeholder="Status"> -->


            <mat-select formControlName="status">
                @for (food of foods; track food) {
                  <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                }
              </mat-select>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Comments</mat-label>
            <input matInput formControlName="comments" placeholder="Comments">
          </mat-form-field>
        </div>
        
        <div class="inner-form-container">
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
         
      </div>
    </form>
  </div>
  