<form #myForm="ngForm" (ngSubmit)="OnSubmit()">


  <div class="table-container">
    <mat-form-field class="select-type">

        <mat-select  [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}">
         
            <mat-option *ngFor="let type of types" [value]="type.value">{{type.viewValue}}</mat-option>
          
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Project ID</mat-label>
        <input matInput  placeholder="Project ID" [(ngModel)]="projectId" [ngModelOptions]="{standalone: true}" [value]="projectId">
      </mat-form-field>
   
<table>
  <tr>
    <th>Role</th>
    <th>Name</th>
    <th>Escalation Level</th>
  </tr>
  <tr>
    <td class="name-field">Project Manager</td>
    <!-- <td>Maria Anders</td> -->
    <td class="select">
      <mat-form-field>

        <mat-select  [(ngModel)]="selectedManagerName" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let name of names" [value]="name.value">{{name.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  
    <td>Level 1</td>
  </tr>
  <tr>
    <td>Chief Technical Officer</td>
    <td class="select">
      <mat-form-field>
        <mat-select  [(ngModel)]="selectedCtoName" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let name of names" [value]="name.value">{{name.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>Level 2</td>
  </tr>
  <tr>
    <td>Cheif Executing Officer</td>
    <td class="select">
      <mat-form-field>

        <mat-select  [(ngModel)]="selectedCeoName" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let name of names" [value]="name.value">{{name.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>Level 3</td>
  </tr>

</table>

      <button type="submit">Submit</button>
  </div>


</form>