<div class="form-container">
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <div class="outer-form-container">

            <div class="inner-form-container">
                <mat-form-field appearance="outline">
                    <mat-label>Project ID</mat-label>
                    <input matInput formControlName="projectId" placeholder="Project ID">
                    <mat-error *ngIf="updateForm.get('projectId')?.invalid">Project ID is required.</mat-error>
                  </mat-form-field>
                
                  <mat-form-field appearance="outline">
                    <mat-label>Date</mat-label>
                    <input matInput formControlName="date" placeholder="Date" [matDatepicker]="datePicker">
                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                    <mat-error *ngIf="updateForm.get('date')?.invalid">Date is required.</mat-error>
                  </mat-form-field>
            </div>
     
            <div class="inner-form-container">
                <mat-form-field appearance="outline">
                    <mat-label>General Updates</mat-label>
                    <input matInput formControlName="generalUpdates" placeholder="General Updates">
                    <mat-error *ngIf="updateForm.get('generalUpdates')?.invalid">General Updates is required.</mat-error>
                  </mat-form-field>
            </div>

            <div class="inner-form-container">
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </div>
    
    </div>
      </form>
      
</div>
