.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  
  mat-form-field{
    display: block;
  }

  button{
    margin-right: 10px;
    background-color: #2d9d2d;
    /* background-color: #32cd32; */
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    padding: 6px 8px;
    cursor: pointer ;
  }
  form input,mat-label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }